* {
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
html {
  height: 100%;
}

#root {
  height: 100%;
}

button {
  flex: 1 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
}

.calc-button.long {
  width: 50%;
}

.panel {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.display {
  flex: 0 0 auto;
  text-align: right;
  width: 100%;
  height: 5rem;
}

h4 {
  margin: 0;
  padding: 0;
}

.display > h4 {
  font-size: 2rem;
  padding: 1rem;
}

.calc-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}
