* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --text-color: black;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.darktheme {
  --background: #0f3460;

  --text-color: white;
}

.sun-moon {
  position: relative;
  width: 6rem;
  height: 2.75rem;
  padding: 0.3rem;
  border-radius: 34px;
  border: 3px solid #1a237e;
  background-color: #3f51b5;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.circle {
  display: inline-block;
  border-radius: 34px;
  position: absolute;
}

.small {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3f51b5;
  top: 0.2rem;
  left: 0.9rem;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
  width: 2rem;
  height: 2rem;
  background-color: yellow;
  top: 0.2rem;
  left: 0.3rem;
  transform: translateY();
  border: 1px solid yellow;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sun-moon input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.move {
  background-color: #fff;
  border-color: blue;
}

.move .large {
  left: 3rem;
  background: yellow;
  border: 1px solid orange;
}

.move .small {
  left: 60px;
  top: 50px;
  background-color: #fff;
}
